version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - mongo
    volumes:
      - ./output:/app/backend/output # Mount output directory
      - ./resources:/app/backend/resources # Mount resources directory

  frontend:
    build: ./frontend
    ports:
      - "5173:5173" # Default Vite dev server port
    env_file:
      - .env
    environment:
      VITE_API_URL: ${VITE_API_URL}
    depends_on:
      - backend
    # You might want to mount volumes for development to enable hot-reloading
    # volumes:
    #   - ./frontend:/app/frontend

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: